.confirm-modal__overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
}

.confirm-modal__window {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 28rem;
  padding: 2rem;
  background-color: var(--main-background);
  border-radius: 16px;
}

.confirm-modal__title {
  font-size: 22px;
}

.confirm-modal__message {
  margin-block-end: 0.5rem;
  font-size: 16px;
  line-height: 1.5;
}

.confirm-modal__actions {
  display: flex;
  gap: 1rem;
}

