.timeline {
  flex: 1;
  min-height: 0;
  overflow-y: auto;

  list-style: none;
}

.timeline__item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0.5rem;
  margin-block-end: 1rem;
}

.timeline__card {
  padding: clamp(0.75rem, 2vw, 1rem) clamp(1.25rem, 3vw, 2rem)
    clamp(1rem, 3vw, 1.5rem);

  background-color: var(--bg-brand-subtle);
  border-left: 6px solid var(--brand);
  border-radius: var(--radius-m);

  overflow: hidden;
}

.timeline__card-button {
  all: unset;

  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 2vw, 1rem);
  width: 100%;

  cursor: pointer;
}

.timeline__title,
.timeline__description {
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.timeline__title {
  font-size: clamp(var(--font-size-s), 2.5vw, var(--font-size-m));
  font-weight: 600;
  line-height: 1.4;
  color: var(--text-primary);
}

.timeline__description,
.timeline__time {
  font-size: clamp(var(--font-size-xs), 2vw, var(--font-size-s));
  line-height: 1.4;
  font-weight: 400;
  color: var(--text-secondary);
}

.timeline__empty {
  color: var(--text-secondary);
  text-align: center;
}
