.timeline {
  list-style: none;
}

.timeline__item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0.5rem;
  margin-block-end: 1rem;
}

.timeline__card {
  padding: clamp(0.75rem, 2vw, 1rem) clamp(1.25rem, 3vw, 2rem)
    clamp(1rem, 3vw, 1.5rem);

  background-color: var(--light-brand-color-background);
  border-left: 6px solid var(--brand-color);
  border-radius: 0.5rem;
}

.timeline__card-button {
  all: unset;

  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 2vw, 1rem);
  width: 100%;

  cursor: pointer;
}

.timeline__title {
  font-size: clamp(1rem, 2.5vw, 1.125rem);
  font-weight: 500;
}

.timeline__description,
.timeline__time {
  font-size: clamp(0.875rem, 2vw, 1rem);
  font-weight: 400;
}

.timeline__empty {
  color: var(--text-color);
  text-align: center;
}
