.button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem;

  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--bg-default);

  border: 1px solid var(--text-color);
  border-radius: 6px;
  cursor: pointer;
}

.button--warning {
  border-color: var(--high-color);
  color: var(--high-color);
}

.button--primary {
  color: var(--text-inverse);
  background-color: var(--brand);
  border: none;
}

.button--ghost {
  justify-content: start;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media (hover: hover) {
  .button:hover {
    font-weight: 600;
  }
}
