.options-window {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  padding: var(--spacing-3);

  border: 1px solid var(--border-default);
  border-radius: var(--radius-l);
  background-color: var(--bg-default);
}

.options-window__item-label {
  color: var(--text-primary);
  text-align: start;
}

.red {
  color: var(--priority-high);
}

@media (hover: hover) {
  .options-window__item:hover {
    font-weight: 600;
  }
}
