/* ========== GRID ========== */
.edit-task-page__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 1.5rem;
}

.edit-task-page__title-input {
  grid-column: span 2 / span 2;
  padding-inline: 1rem;
  font-size: clamp(1.25rem, 3vw, 2.625rem);
  font-weight: 600;
  border: var(--border);
  border-radius: 1rem;
}

.edit-task-page__priority-section {
  grid-row-start: 2;
}

.edit-task-page__tags-section {
  grid-row-start: 2;
}

.edit-task-page__description-section {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-row-start: 3;
}

.edit-task-page__due-date-section {
  grid-row-start: 5;
}

.upload-button {
  grid-row-start: 6;
  max-height: 2.5rem;
}

.edit-task-page__actions {
  grid-row-start: 7;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.7rem;
  max-height: 2.5rem;
}



.tag,
.priority {
  cursor: pointer;
}

.edit-task-page__section {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1rem;
  border-radius: 6px;
  background-color: var(--card-background);
}

.input-field {
  height: 100%;
  font-size: 0.875rem;
  border: none;
  border-radius: 6px;
  resize: none;
}

.edit-task-page__header {
  display: flex;
  justify-content: space-between;
}

.edit-task-page__section-title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
}

.edit-task-page__buttons-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem;

  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--main-background);

  border: 1px solid var(--text-color);
  border-radius: 6px;
  cursor: pointer;
}

.button--warning {
  border-color: var(--high-color);
  color: var(--high-color);
}

.button--primary {
  color: var(--main-background);
  background-color: var(--brand-color);
  border: none;
}

.button__icon {
  width: 1.25rem;
  aspect-ratio: 1 / 1;
}

.button:hover {
  font-weight: 600;
}

/* ========== MEDIA QUERIES ========== */

@media (max-width: 45rem) {
  .edit-task-page__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }

  .edit-task-page__form > * {
    grid-column: auto !important;
    grid-row: auto !important;
  }

  .edit-task-page__title-input {
    font-size: 1.25rem;
    line-height: 2;
  }

  .edit-task-page__description-section {
    grid-column: 1;
  }

  .edit-task-page__description-section textarea {
    min-height: 7.5rem;
  }
}