/* ========== GRID ========== */
.edit-task-page__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.edit-task-page__title-input,
.input-field {
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 100%;
}

.edit-task-page__title-input {
  grid-column: span 2 / span 2;
  padding-inline: 1rem;

  color: var(--text-primary);
  font-size: clamp(var(--font-size-m), 3vw, var(--font-size-2xl));
  font-weight: 600;
  line-height: 1.3;
  border: 1px solid var(--border-default);
  border-radius: var(--radius-l);
}

.edit-task-page__priority-section {
  grid-row-start: 2;
}

.edit-task-page__tags-section {
  grid-row-start: 2;
}

.edit-task-page__description-section {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-row-start: 3;
}

.edit-task-page__due-date-section {
  grid-row-start: 5;
}

.upload-button {
  grid-row-start: 6;
  max-height: 2.5rem;
}

.edit-task-page__actions {
  grid-row-start: 7;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.7rem;
  max-height: 2.5rem;
}

.edit-task-page__section {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1rem;
  border-radius: var(--radius-m);
  background-color: var(--bg-card);
}

.input-field {
  height: 100%;
  font-size: var(--font-size-xs);
  line-height: 1.4;
  border: none;
  border-radius: var(--radius-m);
  resize: none;
}

.edit-task-page__header {
  display: flex;
  justify-content: space-between;
}

.edit-task-page__section-title {
  font-size: var(--font-size-s);
  font-weight: 600;
  line-height: 1.5;
  color: var(--text-secondary);
}

.edit-task-page__buttons-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* ========== MEDIA QUERIES ========== */

@media (max-width: 45rem) {
  .edit-task-page__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }

  .edit-task-page__form > * {
    grid-column: auto !important;
    grid-row: auto !important;
  }

  .edit-task-page__title-input {
    font-size: var(--font-size-m);
    line-height: 2;
  }

  .edit-task-page__description-section {
    grid-column: 1;
  }

  .edit-task-page__description-section textarea {
    min-height: 7.5rem;
  }
}
