.header {
  display: grid;
  grid-template-columns: 16.875rem 1fr;
  justify-content: space-between;
  width: 100vw;
  max-height: auto;

  border-block-end: var(--border);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background-color: var(--main-background);
}


/* ========== HEADER BRAND ========== */

.header__brand {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1.5rem;
  padding-inline-end: 2.5rem;

  border-inline-end: var(--border);
}

.header__logo {
  width: 1.5rem;
  aspect-ratio: 1 / 1;
  margin-inline-end: 0.2rem;
}

.header__title {
  font-size: 1.25rem;
}


/* ========== HEADER ACTIONS ========== */

.header__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
}


/* ========== SEARCH ========== */

.search {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0.5rem;
  max-width: 26.25rem;
  width: clamp(12.5rem, 30vw, 26.25rem);

  background-color: var(--card-background);
  border-radius: 6px;
  cursor: pointer;

  transition: all 0.3s ease;
}

.search__toggle {
  margin-inline-end: 1rem;
}

.search-input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
}


/* ========== USER PANEL ========== */

.user-panel {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.user-menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-menu__name {
  margin-inline: 1rem 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.user-menu__avatar {
  width: 2.375rem;
  aspect-ratio: 1 / 1;
}

/* ========== HAMBURGER ========== */

.header__menu-button {
  display: none;
  margin-inline-end: 1rem;
}

/* ========== MEDIA QUERES ========== */

@media (max-width: 64rem) {
  .header {
    grid-template-columns: 1fr 2fr;
  }

  .header__menu-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .header__brand {
    border: none;
  }

  .header__actions {
    padding-inline: 2rem;
  }

  .user-panel {
    gap: 1.5rem;
  }

  .user-menu__name {
    display: none;
  }

  .user-menu__avatar {
    width: 2rem;
  }
}

@media (max-width: 45rem) {
  .header__title {
    display: none;
  } 

  .user-panel {
    gap: 1rem;
  }

  .header__actions {
    justify-content: end;
  }

  .search {
    width: auto;
    background-color: inherit;
  }

  .search-input {
    display: none;
  }

  .search--open .search-input {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    padding: 1rem;
    background-color: var(--card-background);
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    gap: 0.8rem;
    
    animation: fadeIn 0.2s ease;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}