.header {
  display: grid;
  grid-template-columns: 16.875rem 1fr;
  justify-content: space-between;
  width: 100vw;
  border-block-end: var(--border);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background-color: var(--main-background);
}

/* ========== HEADER BRAND ========== */

.header__brand {
  display: flex;
  align-items: center;
  height: 100%;
  border-inline-end: var(--border);
}

.header__logo {
  width: 1.5rem;
  aspect-ratio: 1 / 1;
  margin-inline-end: 0.2rem;
}

.header__title {
  font-size: 1.25rem;
}

/* ========== HEADER ACTIONS ========== */

.header__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(0.5rem, 2vw, 1.5rem) clamp(0.5rem, 3vw, 1.5rem);
}

.header__actions,
.header__brand {
  padding: clamp(0.5rem, 2vw, 1.5rem) clamp(0.5rem, 3vw, 1.5rem);
}

/* ========== USER PANEL ========== */

.user-panel {
  display: flex;
  align-items: center;
  gap: clamp(1rem, 3vw, 2rem);
  cursor: pointer;
}

.user-menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-menu__name {
  margin-inline: 1rem 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.user-menu__avatar {
  width: 2.375rem;
  aspect-ratio: 1 / 1;
}

/* ========== HAMBURGER ========== */

.header__menu-button {
  display: none;
  margin-inline-end: 1rem;
}

/* ========== MEDIA QUERES ========== */

@media (max-width: 64rem) {
  .header {
    grid-template-columns: 1fr 2fr;
  }

  .header__menu-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .header__brand {
    border: none;
  }

  .user-menu__name {
    display: none;
  }

  .user-menu__avatar {
    width: 2rem;
  }
}

@media (max-width: 45rem) {
  .header__title {
    display: none;
  }

  .header__actions {
    justify-content: end;
  }
}
