.search {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0.5rem;
  max-width: 26.25rem;
  width: clamp(12.5rem, 30vw, 26.25rem);

  background-color: var(--card-background);
  border-radius: 6px;
  cursor: pointer;

  transition: all 0.3s ease;
}

.search__toggle {
  margin-inline-end: 1rem;
}

.search-input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
}

@media (max-width: 45rem) {
  .search {
    width: auto;
    background-color: inherit;
  }

  .search-input {
    display: none;
  }

  .search--open .search-input {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    padding: 1rem;
    background-color: var(--card-background);
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    gap: 0.8rem;

    animation: fadeIn 0.2s ease;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
