.tags-manager-modal__window {
  width: 25rem; 
}

.tags-manager-modal__item {
	display: flex;
	justify-content: space-between;
	padding-inline-start: 2rem;
	position: relative;
}

.tags-manager-modal__marker {
  position: absolute;
  left: 0rem;
	top: -0.7rem;
  font-size: 2.2rem;
	cursor: pointer;
}

.tags-manager-modal__actions {
	display: flex;
	align-items: center;
  gap: 1rem;
}

.tags-manager-modal__item .tag {
	font-size: 14px;
}

.tags-manager-modal__window .input-field {
	padding: 1rem;
	border: 1px solid var(--text-color);
}

.close-icon {
	display: flex;
	justify-self: end;
}

.tags-manager-modal__warning {
  font-size: 12px;
  color: var(--high-color);
}