.tags-manager-modal__window {
  width: 25rem; 
}

.tags-manager-modal__item {
	display: flex;
	justify-content: space-between;
}

.tags-manager-modal__left,
.tags-manager-modal__actions {
	display: flex;
	align-items: center;
  gap: 1rem;
}

.tags-manager-modal__item .tag {
	font-size: 14px;
}

.tags-manager-modal__window .input-field {
	padding: 1rem;
	border: 1px solid var(--text-color);
}

.close-icon {
	display: flex;
	justify-self: end;
}

.tags-manager-modal__warning {
  font-size: 12px;
  color: var(--high-color);
}

/* ========== COLOR PICKER ========== */

.color-picker {
	position: relative;
	display: inline-block;
}

.color-picker__current {
	width: 1.3rem;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	border: var(--border);
	cursor: pointer;
}

.color-picker__menu {
	position: absolute;
	top: 90%;
	left: 50%;

	display: flex;
	flex-direction: column;
	gap: 6px;
	padding: 8px;

	background-color: var(--main-background);
	border-radius: 6px;
	border: var(--border);

	opacity: 0;
	pointer-events: none;
	transform-origin: top;
	transform: translateX(-50%);
	transition: opacity 0.25s ease, transform 0.25s ease;
	z-index: 100;
}

.color-picker__menu.open {
	opacity: 1;
	pointer-events: auto;
	transform: translateX(-50%) translateY(0);
}

.color-option {
	width: 1.3rem;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	border: var(--border);
	cursor: pointer;
	transform: scale(0.5);
	opacity: 0;
	transition: transform 0.25s ease, opacity 0.25s ease;
}

.color-picker__menu.open .color-option {
	transform: scale(1);
	opacity: 1;
}