.toggle-button {
  cursor: pointer;
}

.toggle-button.toggle-button--selected {
  font-weight: 600;
  color: var(--brand);
  background-color: var(--bg-brand-subtle);
  border: 1px solid var(--border-selected);
}
