.sidepanel {
  position: sticky;
  top: var(--header-height);
  flex-shrink: 0;
  width: 16.875rem;
  height: calc(100vh - var(--header-height));
  overflow-y: auto;

  border-inline-end: 1px solid var(--border-default);
  background-color: var(--bg-default);

  transition:
    transform 0.3s ease,
    visibility 0.3s ease;
}

/* ========== SIDEPANEL MENU ========== */

.sidepanel__menu {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  padding: var(--spacing-4) var(--spacing-3);

  border-block-end: 1px solid var(--border-default);
}

.menu-item {
  display: flex;
  gap: var(--spacing-2);
  padding: var(--spacing-2);
}

.menu-item__label {
  font-size: var(--font-size-s);
  font-weight: 400;
  line-height: 1.4;
  color: var(--text-secondary);
  letter-spacing: 0.6px;
}

.menu-item--active {
  background-color: var(--bg-brand-subtle);
  border-radius: var(--radius-m);
}

.menu-item--active .menu-item__label {
  color: var(--text-primary);
}

/* ========== SIDEPANEL OVERLAY ========== */

.sidepanel-overlay {
  position: fixed;
  inset: 0;
  z-index: 999;

  background-color: var(--overlay-bg);
  backdrop-filter: blur(3px);
}

/* ========== MEDIA QUERES ========== */

@media (max-width: 77rem) {
  .sidepanel {
    position: fixed;
    left: 0;
    z-index: var(--z-modal);
    transform: translateX(-100%);
    visibility: hidden;
    pointer-events: none;
  }

  .sidepanel.sidepanel--open {
    transform: translateX(0);
    visibility: visible;
    pointer-events: auto;
  }
}

@media (hover: hover) {
  .menu-item:hover {
    background-color: var(--bg-hover);
    border-radius: var(--radius-m);
    offset: 1rem 1rem;
  }
}
