.sidepanel {
  position: sticky;
  top: var(--header-height);
  flex-shrink: 0;
  width: 16.875rem;
  height: calc(100vh - var(--header-height));
  overflow-y: auto;

  border-inline-end: 1px solid var(--border-default);
  background-color: var(--bg-default);

  transition:
    transform 0.3s ease,
    visibility 0.3s ease;
}

/* ========== SIDEPANEL MENU ========== */

.sidepanel__menu {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1.5rem;

  border-block-end: 1px solid var(--border-default);
}

.menu-item {
  gap: 0.7rem;
  padding-block: 0.5rem;
}

.menu-item__label {
  font-size: var(--font-size-s);
  font-weight: 400;
  line-height: 1.4;
  color: var(--text-primary);
  letter-spacing: 0.6px;
}

.menu-item:hover .menu-item__label,
.menu-item--active .menu-item__label {
  font-weight: 600;
  color: var(--text-primary);
}

/* ========== MEDIA QUERES ========== */

@media (max-width: 77rem) {
  .sidepanel {
    position: fixed;
    left: 0;
    z-index: var(--z-modal);
    transform: translateX(-100%);
    visibility: hidden;
    pointer-events: none;
  }

  .sidepanel.sidepanel--open {
    transform: translateX(0);
    visibility: visible;
    pointer-events: auto;
  }
}
