.my-tasks {
  display: flex;
  flex-direction: column;

  padding: 1.5rem 1.25rem;
  background-color: var(--bg-card);
  border-radius: var(--radius-l);

  min-height: 0;
  overflow: hidden;
}

.my-tasks__title {
  margin-block-end: clamp(1rem, 2vw, 1.5rem);
  font-size: var(--font-size-m);
  font-weight: 600;
  color: var(--text-primary);
}

.my-tasks__list {
  flex: 1;
  min-height: 0;
}

.task-item {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1rem 2rem;

  position: relative;
  list-style: none;
  border-bottom: 1px solid var(--border-default);
}

.task-item::before {
  content: "";
  width: 0.9rem;
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-s);
  border: 3px solid var(--brand);
  background-color: var(--bg-card);
  position: absolute;
  left: 0px;
  top: 1.2rem;
}

.task-item__title,
.task-item__project {
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.task-item__title .button {
  font-size: clamp(var(--font-size-s), 2.5vw, var(--font-size-m));
  font-weight: 600;
}

.task-item__title-button {
  color: var(--text-primary);
  text-align: start;
}

.task-item__project {
  color: var(--text-secondary);
  font-size: clamp(var(--font-size-xs), 2vw, var(--font-size-s));
  text-align: start;
}

.task-item__info {
  display: flex;
  gap: 1rem;
}

.task-item__deadline {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.task-item__date {
  font-size: clamp(var(--font-size-xs), 2vw, var(--font-size-s));
  font-weight: 400;
  color: var(--text-secondary);
}

.task-item__date--overdue {
  color: var(--text-error);
}

.my-tasks__empty {
  color: var(--text-secondary);
  text-align: center;
}

@media (max-width: 27rem) {
  .task-item__info {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (hover: hover) {
  .task-item__project:hover {
    text-decoration: underline var(--text-secondary);
  }
}
