.my-tasks {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);

  padding: var(--spacing-4) var(--spacing-3);
  background-color: var(--bg-card);
  border-radius: var(--radius-l);

  min-height: 0;
  overflow: hidden;
}

.my-tasks__title {
  font-size: var(--font-size-m);
  font-weight: 600;
  line-height: 1.4;
  color: var(--text-primary);
}

.my-tasks__list {
  flex: 1;
  min-height: 0;
}

.task-item {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  padding: var(--spacing-3) var(--spacing-5);

  position: relative;
  list-style: none;
  border-bottom: 1px solid var(--border-default);
}

.task-item::before {
  content: "";
  width: 1rem;
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-s);
  border: 3px solid var(--brand);
  background-color: var(--bg-card);
  position: absolute;
  left: 0px;
  top: 1.4rem;
}

.task-item__title,
.task-item__project {
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.task-item__title .button {
  font-size: clamp(var(--font-size-s), 2.5vw, var(--font-size-m));
  font-weight: 600;
  line-height: 1.4;
}

.task-item__title-button {
  color: var(--text-primary);
  text-align: start;
}

.task-item__project {
  color: var(--text-secondary);
  font-size: clamp(var(--font-size-xs), 2vw, var(--font-size-s));
  line-height: 1.4;
  text-align: start;
}

.task-item__info {
  display: flex;
  gap: var(--spacing-3);
}

.task-item__deadline {
  display: flex;
  gap: var(--spacing-1);
  align-items: center;
}

.task-item__date {
  font-size: clamp(var(--font-size-xs), 2vw, var(--font-size-s));
  font-weight: 400;
  line-height: 1.4;
  color: var(--text-secondary);
}

.task-item__date--overdue {
  color: var(--text-error);
}

.my-tasks__empty {
  color: var(--text-secondary);
  text-align: center;
}

@media (max-width: 27rem) {
  .task-item__info {
    flex-direction: column;
    gap: var(--spacing-2);
  }
}

@media (hover: hover) {
  .task-item__project:hover {
    text-decoration: underline var(--text-secondary);
  }
}
