.content.edit-task-page__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline-end: 600px;
}

.edit-task-page__title-input {
  padding-inline: 1rem;
  font-size: 42px;
  font-weight: 600;
  border: var(--border);
  border-radius: 16px;
}

/* ========== GRID ========== */

.edit-task-page__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1.5rem;
}

.edit-task-page__tags-section {
  grid-column-start: 2;
}

.edit-task-page__description-section {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-row-start: 2;
}

.edit-task-page__due-date-section {
  grid-row-start: 4;
}

.upload-button {
  grid-row-start: 5;
  max-height: 40px;
}

.edit-task-page__actions {
  grid-row-start: 6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.7rem;
  max-height: 40px;
}



.tag,
.priority {
  cursor: pointer;
}

.edit-task-page__section {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1rem;
  border-radius: 6px;
  background-color: var(--card-background);
}

.input-field {
  height: 100%;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  resize: none;
}

.input-field:focus-visible {
  outline-color: var(--brand-color);
}

.edit-task-page__section-title {
  font-size: 16px;
  font-weight: 500px;
  color: var(--text-color);
}

.edit-task-page__buttons-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--main-background);

  border: 1px solid var(--text-color);
  border-radius: 6px;
  cursor: pointer;
}

.button--warning {
  border-color: var(--high-color);
}

.button--primary {
  color: var(--main-background);
  background-color: var(--brand-color);
  border: none;
}

.button__icon {
  width: 20px;
  aspect-ratio: 1 / 1;
}