:root {
  --border-color: #E0E0E0;
  --card-background: #F5F5F5;
  --text-color: #787486;
}

.header {
  display: grid;
  grid-template-columns: 270px 1fr;
  justify-content: space-between;
  width: 100vw;
  max-height: auto;

  border-block-end: 1px solid var(--border-color);
}


/* ========== HEADER BRAND ========== */

.header__brand {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1.5rem;
  padding-inline-end: 2.5rem;

  border-inline-end: 1px solid var(--border-color);
}

.header__logo {
  width: 24px;
  aspect-ratio: 1 / 1;
  margin-inline-end: 0.2rem;
}

.header__title {
  font-size: 20px;
}


/* ========== HEADER ACTIONS ========== */

.header__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
}


/* ========== SEARCH ========== */

.search {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0.5rem;
  width: 420px;

  background-color: var(--card-background);
  color: var(--text-color);
  border-radius: 6px;
  cursor: pointer;
}

.search__icon {
  margin-inline-end: 1rem;
}

.search-input {
  width: 100%;

  background-color: var(--card-background);
  border: none;
}


/* ========== USER PANEL ========== */

.user-panel {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.user-menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-menu__name {
  margin-inline: 1rem 0.5rem;
  font-size: 16px;
  font-weight: 400;
}

.user-menu__avatar {
  width: 38px;
  aspect-ratio: 1 / 1;
}

.icon-button {
  width: 24px;
  aspect-ratio: 1 / 1;
  border: none;
  background-color: inherit;
  cursor: pointer;
}