.calendar {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 2vw, 1.5rem);

  grid-column: 2;
  grid-row: 1 / -1;

  padding: 1.5rem 1.25rem;
  background-color: var(--bg-card);
  border-radius: var(--radius-l);

  min-height: 0;
  overflow: hidden;
}

.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar__title {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--text-primary);
}

.calendar__link {
  flex: none;
  font-size: 1.125rem;
  font-weight: 400;
}

.calendar__date {
  margin-block-end: clamp(0.5rem, 2vw, 1rem);
  font-size: clamp(var(--font-size-m), 3vw, var(--font-size-l));
  font-weight: 600;
  color: var(--text-primary);
}

.calendar-week {
  display: flex;
  gap: 1rem;
  margin-block-end: 1rem;
  overflow-x: auto;

  list-style: none;
}

.calendar-week__item {
  flex: 1;
}

.calendar-week__day {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1rem 0.625rem;
  min-width: 3.25rem;
  width: 100%;

  font-size: clamp(var(--font-size-xs), 2vw, var(--font-size-s));
  text-align: center;

  color: var(--text-secondary);
  background-color: var(--bg-default);
  border: 1px solid var(--border-button);
  border-radius: var(--radius-m);

  cursor: pointer;
}

.calendar-week__day--active {
  background-color: var(--brand);
  color: var(--text-inverse);
  border: 1px solid var(--border-selected);
}

@media (hover: hover) {
  .calendar-week__day:hover {
    color: var(--text-secondary);
    background-color: var(--bg-hover);
    transition: 0.3s ease background-color;
  }

  .calendar-week__day--active:hover {
    color: var(--text-inverse);
    background-color: var(--bg-brand-hover);
  }
}
