.calendar {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 2vw, 1.5rem);

  grid-column: 2;
  grid-row: 1 / -1;

  padding: 1.5rem 1.25rem;
  background-color: var(--card-background);
  border-radius: 1rem;

  min-height: 0;
  overflow: hidden;
}

.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar__title {
  font-size: 1.125rem;
  font-weight: 600;
}

.calendar__link {
  flex: none;
  font-size: 1.125rem;
  font-weight: 500;
}

.calendar__date {
  margin-block-end: clamp(0.5rem, 2vw, 1rem);
  font-size: clamp(1.25rem, 3vw, 1.5rem);
  font-weight: 600;
}

.calendar-week {
  display: flex;
  gap: 1rem;
  margin-block-end: 1rem;
  overflow-x: auto;

  list-style: none;
}

.calendar-week__item {
  flex: 1;
}

.calendar-week__day {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1rem 0.625rem;
  min-width: 3.25rem;
  width: 100%;

  font-size: clamp(0.875rem, 2vw, 1rem);
  text-align: center;

  background-color: var(--main-background);
  border: 1px solid var(--brand-color);
  border-radius: 0.375rem;

  cursor: pointer;
}

.calendar-week__day:hover {
  color: var(--brand-color);
  background-color: var(--light-brand-color-background);
  transition: 0.3s ease background-color;
}

.calendar-week__day--active {
  background-color: var(--brand-color);
  color: var(--main-background);
}
