.search {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: var(--spacing-2);
  max-width: 26.25rem;
  width: clamp(12.5rem, 30vw, 26.25rem);

  background-color: var(--bg-card);
  border-radius: var(--radius-m);
  cursor: pointer;

  /* transition: fadeIn 0.3s ease; */
}

.search__toggle {
  margin-inline-end: var(--spacing-3);
}

.search__input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Inter", sans-serif;
  color: var(--text-primary);
}

.search__group {
  display: flex;
  flex-direction: column;
  width: clamp(31.25rem, 50vw, 50rem);
  gap: var(--spacing-3);
  padding: var(--spacing-2);
}

.search__group-projects,
.search__group-tasks {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.search__project-title,
.search__task-title {
  text-align: start;
}

.search__group-title {
  font-size: var(--font-size-s);
  font-weight: 600;
  line-height: 1.5;
  color: var(--text-primary);
}

.search__item {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-xs);
  font-weight: 400;
  line-height: 1.4;
  color: var(--text-primary);

  width: 100%;
}

.search__item--active {
  outline: 3px solid var(--border-selected);
}

.search__task-title,
.search__project-title {
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.search__task-project {
  font-size: var(--font-size-xs);
  line-height: 1.4;
  color: var(--text-secondary);
  text-align: end;
}

.search__empty {
  font-size: var(--font-size-xs);
  font-weight: 400;
  line-height: 1.4;
  color: var(--text-secondary);
}

@media (min-width: 45rem) {
  .search:focus-within {
    outline: 2px solid var(--border-selected);
  }

  .search:focus-within .search__icon {
    outline: none;
  }
}

@media (max-width: 45rem) {
  .search {
    width: auto;
    background-color: inherit;
  }

  .search:focus-within {
    outline: none;
  }

  .search__input {
    display: none;
  }

  .search--open .search__input {
    z-index: var(--z-dropdown);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    padding: var(--spacing-3);
    background-color: var(--bg-default);
    border-block: 1px solid var(--border-default);
    display: flex;
    align-items: center;
    gap: var(--spacing-2);

    animation: fadeIn 0.2s ease;
  }

  .search__group {
    width: calc(100vw - var(--spacing-5));
  }

  :root[data-theme="dark"] .search__icon {
    filter: brightness(0) invert(1);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (hover: hover) {
  .search__item:hover {
    background-color: var(--bg-hover);
  }
}
