.page {
  display: flex;
  margin-block-start: var(--header-height);
  min-height: calc(100vh - var(--header-height));
}

.content {
  flex: 1;
  min-height: 0;
  width: 100%;
  max-width: 100%;
  padding: clamp(var(--spacing-2), 2vw, var(--spacing-4))
    clamp(var(--spacing-2), 3vw, var(--spacing-4));
}

@media (max-width: 77rem) {
  .content {
    max-width: none;
  }
}
