.tags-manager-modal__overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

	background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
}

.tags-manager-modal__window {
	display: flex;
	flex-direction: column;
  gap: 1rem;
  width: 25rem;
  padding: 2rem;
  background-color: var(--main-background);
  border-radius: 16px;
}

.tags-manager-modal__item {
	display: flex;
	justify-content: space-between;
}

.tags-manager-modal__actions {
	display: flex;
	align-items: center;
  gap: 1rem;
}

.tags-manager-modal__item .tag {
	font-size: 14px;
}

.tags-manager-modal__window .input-field {
	padding: 1rem;
	border: 1px solid var(--text-color);
}

.close-icon {
	display: flex;
	justify-self: end;
}

.tags-manager-modal__warning {
  font-size: 12px;
  color: var(--high-color);
}