:root {
  --brand-color: #5020e5;
  --brand-color-background: #5020e520;
  --light-brand-color-background: #5120e50e;

  --main-background: #ffffff;
  --card-background: #f5f5f5;
  --count-background: #e0e0e0;
  --active-background: #5030e508;

  --text-color: #787486;
  --count-color: #625f6d;
  --black-color: #000;

  --high-color: #d8727d;
  --high-color-background: #d8727d20;
  --medium-color: #d58d49;
  --medium-color-background: #dfa87420;
  --low-color: #68b266;
  --low-color-background: #83c29d20;

  --border: 1px solid #e0e0e0;
  --header-height: clamp(57px, 8.5vw, 86px);
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.chip {
  padding: 0.2rem 0.3rem;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 4px;
  border: none;
}

.priority--high {
  color: var(--high-color);
  background-color: var(--high-color-background);
}

.priority--medium {
  color: var(--medium-color);
  background-color: var(--medium-color-background);
}

.priority--low {
  color: var(--low-color);
  background-color: var(--low-color-background);
}

.tag {
  color: var(--tag-text);
  background-color: var(--tag-bg);
}

.red {
  color: var(--high-color);
}

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
}

.window {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--main-background);
  border-radius: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
