.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.icon-button,
.menu-item {
  width: 24px;
  aspect-ratio: 1 / 1;
  border: none;
  background-color: inherit;
  cursor: pointer;
}