.statistics__list {
  display: flex;
  gap: 1rem;
  justify-content: space-between;

  list-style: none;
}

.statistics__item {
  flex-grow: 1;
  padding: 0.5rem 0.7rem;
  background-color: var(--bg-card);
  border-radius: var(--radius-m);
}

.statistics-card__title {
  margin-block-end: 0.5rem;
  font-size: clamp(0.75rem, 2vw, 1rem);
  font-weight: 400;
  color: var(--text-primary);
}

.statistics-card__value {
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 600;
  text-align: end;
}

@media (max-width: 53rem) {
  .statistics-card__value {
    text-align: start;
  }
}
