.statistics__list {
  display: flex;
  gap: var(--spacing-2);
  justify-content: space-between;

  list-style: none;
}

.statistics__item {
  flex-grow: 1;
  padding: var(--spacing-2) var(--spacing-3);
  background-color: var(--bg-card);
  border-radius: var(--radius-m);
}

.statistics-card__title {
  margin-block-end: var(--spacing-2);
  font-size: clamp(var(--font-size-xs), 2vw, var(--font-size-s));
  font-weight: 400;
  line-height: 1.4;
  color: var(--text-primary);
}

.statistics-card__value {
  font-size: clamp(var(--font-size-s), 2vw, var(--font-size-m));
  font-weight: 600;
  line-height: 1.4;
  text-align: end;
  color: var(--text-secondary);
}

@media (max-width: 53rem) {
  .statistics-card__value {
    text-align: start;
  }
}
