.projects-section {
  padding: var(--spacing-4);
}

.projects-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: var(--spacing-3);
}

.projects-section__title {
  font-size: var(--font-size-s);
  font-weight: 600;
  line-height: 1.5;
  color: var(--text-primary);
  letter-spacing: 0.4px;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  overflow-y: auto;
}

.projects-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-block: var(--spacing-2);
  padding-inline: var(--spacing-5) var(--spacing-2);
}

.projects-list__item::before {
  content: "•";
  position: absolute;
  left: var(--spacing-2);
  font-size: var(--font-size-m);
  line-height: 1.4;
  color: var(--marker-color, var(--brand));
}

.projects-list__name {
  color: var(--text-secondary);

  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.projects-list__item--active {
  background-color: var(--bg-brand-subtle);
  border-radius: var(--radius-m);
}

.projects-list__item--active .projects-list__name {
  color: var(--text-primary);
}

.projects-list__item .icon-button {
  opacity: 0;
}

.projects-list__item:hover .icon-button,
.projects-list__item--active .icon-button {
  opacity: 1;
}

@media (hover: none) {
  .projects-list__item .icon-button {
    opacity: 1;
  }
}

@media (hover: hover) {
  .projects-list__item:hover {
    background-color: var(--bg-hover);
    border-radius: var(--radius-m);
  }
}
