.home-page__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto minmax(0, 1fr);
  gap: clamp(1rem, 3vw, 2rem);

  flex: 1;
  min-height: 0;
  height: 100%;
}

@media (max-width: 53rem) {
  .home-page__content {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
