.filter-menu {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  min-width: 12.5rem;
}

.filter-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.filter-section__label {
  color: var(--text-primary);
  font-weight: 600;
  font-size: var(--font-size-s);
  line-height: 1.5;
}

.filter-section__options {
  display: flex;
  gap: var(--spacing-2);
}
