.filter-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 12.5rem;
}

.filter-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filter-section__label {
  color: var(--text-color);
  font-weight: 500;
  font-size: 1rem;
}

.filter-section__options {
  display: flex;
  gap: 0.5rem;
}