/* ========== PROJECT HEADER ========== */

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-block-end: 2rem;
}

.project-header__left {
  display: flex;
  gap: 1rem;
}

.project-header__title {
  font-size: clamp(1.5rem, 5vw, 2.875rem);
  font-weight: 600;
}

.project-header__title-input {
  padding-inline: 1rem;
  font-size: clamp(1.3rem, 4vw, 2.625rem);
  font-weight: 600;
  border: var(--border);
  border-radius: 1rem;
}

.project-header__actions {
  display: flex;
  gap: 1rem;
}

.task-controls {
  display: flex;
  gap: 1rem;
}

.task-controls__button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;

  border-radius: 6px;
  border: var(--border);
  background: inherit;
  cursor: pointer;
}

.task-controls__button img {
  width: 1rem;
  aspect-ratio: 1 / 1;
}

.task-controls__button-name {
  font-size: 1rem;
  color: var(--text-color);
}


/* ========== PROJECT BOARD ========== */

.task-board {
  display: flex;
  gap: 1rem;
  align-items: flex-start; 

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 1rem;
}

.task-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-shrink: 0;
  gap: 1rem;

  min-height: 18.75rem;
  min-width: 18rem;
  scroll-snap-align: start;
  padding: 1rem;

  border-radius: 0.5rem;
  background: #f9f9f9;  
}

.task-column__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 1rem;
  min-height: 2.875rem;
}

.task-column__header-left {
  display: flex;
  gap: 0.7rem;
}

.task-column__title {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  padding-inline-start: 1rem;
}

.task-column__title::before {
  content: "•";
  position: absolute;
  left: 0;
  font-size: 1.3rem;
}

.task-column__header[data-status="todo"] .task-column__title::before {
  color: var(--brand-color, #000);
}

.task-column__header[data-status="in-progress"] .task-column__title::before {
  color: var(--medium-color, #000);
}

.task-column__header[data-status="done"] .task-column__title::before {
  color: var(--low-color, #000);
}

.task-column__header[data-status="todo"] {
  border-block-end: 3px solid var(--brand-color);
}

.task-column__header[data-status="in-progress"] {
  border-block-end: 3px solid var(--medium-color);
}

.task-column__header[data-status="done"] {
  border-block-end: 3px solid var(--low-color);
}

.task-column__count {
  width: 1.25rem;
  aspect-ratio: 1 / 1;
  padding: 0.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  color: var(--count-color);
  background-color: var(--count-background); 
  border-radius: 50%;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


/* ========== PROJECT CARD ========== */

.task-card {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1.5rem;
  background-color: var(--main-background);
  border-radius: 1rem;
  cursor: pointer;
}

.task-card__header {
  display: flex;
  justify-content: space-between;
}

.task-card__title {
  font-size: clamp(1rem, 2vw, 1.125rem);
  font-weight: 600;
}

.task-card__description {
  margin-block-end: 1.5rem;
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--text-color);
}

.task-card__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.task-card__tags {
  display: flex;
  gap: 0.5rem;
}

.task-card__due {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.task-card__due span {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--text-color);
}

/* ========== MEDIA QUERIES ========== */

@media (max-width: 64rem) {
  .project-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}


@media (max-width: 45rem) {
  .task-controls__button-name {
    display: none;
  }

  .project-header__title-input {
    max-width: 80%;
  }

  .project-header__actions {
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .task-column {
    min-width: 16rem;
    padding: 0.75rem;
  }

  .task-card {
    padding: 1rem;
    border-radius: 0.75rem;
  }
}