.not-found-page__content {
  margin-block-start: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.not-found-page__title {
  font-size: 6rem;
  font-weight: 700;
  color: var(--text-color);
  letter-spacing: 5px;
}

.not-found-page__message {
  font-size: 3.5rem;
  font-weight: 400;
  color: var(--text-color);
  text-transform: uppercase;
}

.not-found-page__link {
  text-decoration: none;
  background-color: var(--brand-color);
  color: var(--main-background);
  border: none;
}